<%= simple_form_for(@organization_permission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%=f.input :user_id%>
    <%=f.input :organization_id%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
