<h1>Editing Organization Permission</h1>

<%= render 'form', organization_permission: @organization_permission %>

<%= link_to 'Show', @organization_permission %> |
<%= link_to 'Back', organization_permissions_path %>
