<p id="notice"><%= notice %></p>

<h1>Organization Permissions</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @organization.each do |organization| %>
      <tr>
        <td><%=@organization.first.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Organization Permission', new_organization_permission_path %>
<%= link_to "back", organization_path(params[:organization_id])%>
