
<div class='col-lg-6 col-md-offset-3'>
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"%>
  </div>
    </br>
  <div class="actions">
    <%= f.submit "Send Confirmation", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
