<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
  <div class="modal-body">
    <ul class="errors">
      <%# render 'layouts/messages'%>
      <%= devise_error_messages! %>
    </ul>
    <div class="control-group">
      <%= f.input :email, autofocus: true, class: "control-label" %><br />
      <%= f.input :password, autocomplete: "off", class: "control-label" %><br />
      <% if devise_mapping.rememberable? -%>
        <div class="field checkbox-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <div class="shared-links" align="left">
          <%= render "users/shared/links" %>
      </div>
      <div>
        <%= f.button :submit, "Log in", class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
<% end %>


