<script>
  $(document).ready(function(){
    $(".booking").click(function(){
      alert($(this).html());
    });
  });
</script>
<%= simple_form_for([@organization, @property, @booking]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_time, as: :datetime,  start_year: Date.today.year, end_year: Date.today.year + 1, :minute_step => 30, input_html: { default: @date, min: Date.today} %> 
    <%= f.input :end_time, start_year: Date.today.year, end_year: Date.today.year + 1, :discard_year => true, :discard_month => true, :discard_day => true, :minute_step => 30, value: @date%> 
    <%= f.number_field :property_id, :value => @property.id, :hidden =>  true%>
    <%= f.number_field :user_id, :value => current_user.id, :hidden => true%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
