<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to organization_property_bookings_path(@organization, @property, date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to organization_property_bookings_path(@organization, @property, date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-menu-right"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="calendar table table-bordered table-striped">
      
      <%header = %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday]%>
      <%= header.map { |day| content_tag :th, day }.join.html_safe%>
      <%= week_rows(@date) %> 
    </table>
  </div>
</div>
<%# link_to 'New Booking', new_booking_path %>
