<h1>New Booking</h1>
<br/>
<br/>
<br/>
<div class="col-md-12">
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item booking">Times</li>
      <%@availability.each do |time|%>
        <li class="list-group-item list-group-item-success booking"><%=time.strftime("%l:%M%p")%></li>
      <%end%>
    </ul>
    
  </div>
  <div class="col-md-4">
    <%= render 'form', booking: @booking %>
  </div>

</div>
<%= link_to 'Back', organization_property_bookings_path(@organization, @property) %>
