<%= simple_form_for [@organization, @property]  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :organization_id, :as => :hidden, :input_html => { :value => params[:organization_id] }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
