<h1>Editing Property</h1>

<%= render 'form', property: @property %>

<%= link_to 'Show', organization_properties_path(@organization, @property) %> |
<%= link_to 'Back', organization_properties_path(@organization) %>
