<h1>Properties</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'book', organization_property_bookings_path(@organization, property), class: "btn"%></td>
        <td><%= link_to 'Show', organization_property_path(@organization, property), class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_organization_property_path({organization_id: params[:organization_id], id: property}), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', organization_property_path({organization_id: params[:organization_id], id: property}), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_organization_property_path(params[:organization_id]) %>
