<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<%= link_to 'Edit', edit_organization_property_path(@organization, @property) %> |
<%= link_to 'Back', organization_properties_path(@organization) %>
