<%= simple_form_for([@organization, @permission]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
