<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table class="table">
  <thead>
    <tr>

      <th colspan="3">users name</th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%=permission.user.name%></td>
        <td><%= link_to 'Show', organization_permissions_path(@organization), class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_organization_permission_path(@organization, permission), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', organization_permissions_path(@organization, permission), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Permission', new_organization_permission_path(@organization) %>
<%=link_to 'Back', organization_path(@organization), class: "btn"%>
