@import "bootstrap";
/* mixins, variables, etc */
$grayMediumLight: #eaeaea;
$grayLight: #999;
$gray: #d3d3d3;
$grayDarker: #2f4f4f;
$grayLighter: #d3d3d3;
@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* universal */
html {
overflow-y: scroll;
}
body{
	padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
	text-align: center;

	h1 {
		margin-bottom: 10px;
	}
}
/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height:1;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}
/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;

	&:hover {
		color: white;
		text-decoration: none;
	}
}
.btn{
width:initial;
}
.nav>li{
float:left;
	a {
	padding:15px 15px;
	}
}
/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;

	a {
		color: $gray;

		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
	
		 li {
			float: left;
			margin-left: 10px;
		}
	}
}
/* sidebar */
aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child{
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{ 
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}
.gravatar {
	float: left;
	margin-right: 10px;
}
/* forms */
div.shared-links {
  float: left;
}
div.control-group {
  margin-left: 15px;
  margin-right: 15px;
}
h3.modal-title {
  float: left;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}
input {
	height: auto !important;
}
#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.field_with_errors {
	@extend .has-error;
}
div.checkbox-field {
  display: inline-flex;
  margin: 11px 0 0;
}
/* miscellaneous */
.debug_dump {
clear: both;
float: left;
width: 100%;
margin-top: 45px;
@include box_sizing;
}
/* Users index */
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child{
			border-bottom: 1px solid $grayLighter;
		}
	}
}
