
<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-success" %>
  </div>
<% end %>
<br>
