<h1>Organizations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td class="col-md-3"><%=organization.name%></td>
        <td><%= link_to 'Show', organization, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
