<h1><%=@organization.name%></h1>
<p> <%= @organization.description%></p>
<%= link_to "View Permissions", organization_path(@organization, {view_type: "Permission"}), class: permissionPage%>

<%= link_to "View Properties", organization_path(@organization, {view_type: "Properties"}), class: propertiesPage%>
<% if params[:view_type] == "Permission"%>
<% else %>
   <%=render partial: "/properties/property", locals: {properties: @properties, organization: @organization}%>

<%# link_to 'Join Organization', organization_permission_path(@organization,@permission), method: :post, class: "btn btn-success"%>


<% end %>
<%# link_to "View Resources", organization_properties_path({:organization_id =>  @organization}),class: "btn btn-info"%>
<br>
<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
