<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%# link_to "sample app",root_path,id: "logo" %>
			<nav>
				<ul class="nav pull-right">

                  <%if user_signed_in? %>
                <li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username"><%=current_user.name%><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%=link_to "Profile", user_path(current_user) %>
                    </li>
                    <li>
                      <%=link_to "Organizations", organizations_path%>
                    </li>
                    <li>
                      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                    </li>
                  </ul>
                </li>

                  <% else %>
                  <li>
                    <%= link_to('Login', new_user_session_path, remote: true)  %>  
                  </li>
                  <li>
  <%# link_to "Sign Up", new_registration_path('user'), remote: true %><br />
                  </li>
                  
                  <% end %>
                </ul>
			</nav>
		</div>
	</div>

</header>
