<div class= "modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" align="right"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" align="left">Sign Up</h3>
</div>
<%=render "form"%>

