<div class='col-lg-6 col-md-offset-3'>
<h2>Sign Up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
    <ul class="errors">
      <%= devise_error_messages! %>
    </ul>
    <div class="control-group">
      <%= f.input :name, :required => true, class:"control-label" %>
      <%= f.input :email, :required => true, class:"control-label" %>
      <%= f.input :password, class:"control-label" %>
      <%= f.input :password_confirmation, class:"control-label" %>
    </div>
      <div>
        <%= f.button :submit, "Sign up", class: "btn btn-lg btn-success"%>
      </div>

      <div class="shared-links" align="left">
        <%= render "users/shared/links" %>
      </div>
  </div>
<% end %>
</div>
